
h1{
    padding-top: 30px;
    text-align: center;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px ;
}

.order{
    background:black;
    line-height:43px;
    color:#fff;
    border-radius:40px;
    float:center;
    margin-top:5px;
    padding-left:20px;
    padding-right: 20px;
}
