<div>
    <div class = "cart">
        <div class = "total"> {{totalPrice | currency:'RON'}}
            <span>{{totalQuantity}}</span>
        </div>
        <a routerLink="/cart-details" class="order" >
            Order
        </a>
    </div>
</div>
