<html>
    <div>
        <nav>
            <a href = "general" class = "order">Back</a>
        </nav>
    </div>

    <table class = "table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Type of User</th>
                <th>Username</th>
                <th>Email address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let tempUser of users">
                <td>{{tempUser.userFirstName}}</td>
                <td>{{tempUser.userLastName}}</td>
                <td>{{tempUser.typeOfUser}}</td>
                <td>{{tempUser.username}}</td>
                <td>{{tempUser.emailAddress}}</td>

            </tr>
        </tbody>
    </table>
</html>