
  .image {
    background-image: url(/assets/images/avatars/customer.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    height: 980px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .left {
    width: 33.33%;
    height: 100%;
    margin-left: 15.33%;
  }
  
  .right {
    width:33.33%;
    height: 100%;
    margin-left: 75%;
  }

  .title{
    color:saddlebrown;
    text-align: center;
  }

  .subtitle{
    color: saddlebrown;
    margin-top: 15%;
  }

  .centered {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .input{
      margin-top: 5%;
  }

  .b{
    padding: 5px 10px;
    margin-top: 10px;
    color: black;
    background-color:saddlebrown;
    border-radius: 4px;
    margin-bottom: 10px;
  }