<div class = "row">
    <div *ngFor="let tempItem of items" >

        <div class = "item-box">
    
            <img src="{{ tempItem.photo }}">
    
            <h1>{{ tempItem.name }}</h1>
            <h2>{{ tempItem.category}}</h2>
    
            <div class="price">{{ tempItem.price | currency:'RON' }}</div>
            <button (click)="addToCart(tempItem)" class="btn btn-primary">Add to cart</button>
        </div>
    
    </div>
</div>
