html,body{
  height:100%;
  overflow-x:hidden;
  overflow-y: hidden;
  background-color:seashell;
  margin:0px;
  padding:0px;
}

h1{
  color:saddlebrown;
  text-align: center;
}

img{
  opacity: 0.9;
  display: block;
  width: 100%;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color:peachpuff;
  border-radius: 4px;
  margin-left: 15%;
  margin-bottom: 10px;
}
nav a:visited, a:link {
  color:saddlebrown;
}
nav a:hover {
  color:saddlebrown;
  background-color:peru;
}