<div>
    <header class = "header">
        <a href = "/client" class = "order">Back</a>
        <a href = "/review/{{restaurant.id}}" class = "order">Leave review</a>
        <div class = "t">
            MENU 
        </div>
       
    </header>
    <body>
        <app-item-list></app-item-list>

        <div>
            <app-cart-status></app-cart-status>
        </div>
    </body>
</div>