.header{
    background-color: lightsalmon;
    height:120px;
    right: 100%;
}

.t{
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
}

.back{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
    color: black;
    background-color: lightsalmon;
}
