
	<div class="page-wrapper">

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="menu-sidebar-content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar-list">
						<li>
							<a href="/client-account">My account</a>
						</li>
						<li>
							<a href="/client-orders">My orders</a>
						</li>
						<li>
							<a href="/client-reviews">My reviews</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<h1>RESTAURANTS</h1>
			</header>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<app-restaurant-list></app-restaurant-list>
			
			<a href = "/home" class ="order">Log out from account</a>
			
		</div>
	</div>