html,body{
    height:100%;
    overflow-x:hidden;
    overflow-y: hidden;
    background-color:rgb(134, 185, 233);
    margin:0px;
    padding:0px;
  }
  
  h1{
    color:black;
    text-align: center;
  }
  
  img{
    opacity: 0.9;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color:white;
    border-radius: 4px;
    margin-left: 15%;
    margin-bottom: 10px;
  }
  nav a:visited, a:link {
    color:steelblue;
  }
  nav a:hover {
    color:rgb(8, 24, 172);
    background-color:white;
  }

  .hero-image {
    background-image: url(/assets/images/avatars/general.png);
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  