
body{
    margin-top: 20%;
    text-align: center;
    background-color:bisque;
}

.b{
    background-color:seashell;
    color: black;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  