<html>
        <div>
            <nav>
                <a routerLink = "/general" class="order">Back</a>
            </nav>
        </div>
    
        <table class = "table">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th></th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Program</th>
                    <th>Review Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let tempRestaurant of restaurants">
                    <td>
                        <img src="{{tempRestaurant.restaurantPhoto}}">
                    </td>
                    <td>
                        <a routerLink="/restaurant/{{tempRestaurant.id}}" class="primary-btn" >
                            View restaurant
                        </a>
                    </td>
                    <td>{{tempRestaurant.restaurantName}}</td>
                    <td>{{tempRestaurant.restaurantAddress}}</td>
                    <td>{{tempRestaurant.restaurantProgram}}</td>
                    <td>{{tempRestaurant.reviewRate}}</td>
                   
                </tr>
            </tbody>
        </table>
</html>
