

.order{
    background:black;
    line-height:43px;
    color:#fff;
    border-radius:40px;
    float:center;
    margin-top:5px;
    padding-left:20px;
    padding-right: 20px;
}

th{
    padding-top: 100px;
}

img{
    height: 300px;
    width: 400px;
}

a.primary-btn{
    background:black;
    padding:7px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:2px;
    font-size:14px;
    margin-top:5px
}