
body {
    font-family: Arial;
    color:black
  }
  
  
.image {
    background-image: url(/assets/images/avatars/shipper.jpg);
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .left {
    width: 33.33%;
    height: 100%;
    margin-left: 15.33%;
  }
  .centered {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .input{
      margin-top: 5%;
  }

  .b{
    padding: 5px 10px;
    margin-top: 10px;
    background-color:rgb(156, 33, 33);
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  h1{
    color:black;
    text-align: center;
  }

  h2{
    margin-top: 5%;
  }