<div>
    <h2 class = "subtitle">  ORDER PREVIEW</h2>
  
    <table class = "table table-bordered">
        <tr>
            <th width="20%">Item image</th>
            <th width="50%">Item price</th>
            <th width="30%"></th>
        </tr>

        <tr *ngFor= "let tempCartItem of cartItems">
            <td>
                <img src = "{{tempCartItem.imageUrl}}" width = 150px/>
            </td>
            <td>
                <p>{{tempCartItem.name}}</p>
                <p>{{tempCartItem.unitPrice | currency: 'RON'}}</p>
            </td>
            <td>
                <div class = "items">
                    <label>Quantity:</label>{{tempCartItem.quantity}}
                </div>
            </td>
        </tr>
    </table>

    <div class="right">
        <form  #loginForm = "ngForm">
            <h2 class = "subtitle">Shipping details</h2>
            <div class="input">
                <input type = "text" name="address"
                placeholder="Shipping address" required autofocus ngModel #username ="ngModel">
            </div>
            <div class="input">
                <input type = "text" name="phoneNr"
                placeholder="Contact phone number" required autofocus ngModel #username ="ngModel">
            </div>
            <h2 class = "subtitle">Payment</h2>
            <div class="input">
                <input type = "text" name="cardNumber"
                placeholder="card Number" required autofocus ngModel #username ="ngModel">
            </div>
            <div class="input">
                <input type = "text" name="cardExpirationDate"
                placeholder="ExpirationDate" required autofocus ngModel #username ="ngModel">
            </div>
            <div class="input">
                <input type = "text" name="cardCvv"
                placeholder="CVV" required autofocus ngModel #username ="ngModel">
            </div>
        </form>
    </div>

    <a href = "/checkout" class = "order"> Place order</a>
    
</div>