.content{
    font-size: 25px;
}

.order{
    background:black;
    line-height:43px;
    color:#fff;
    border-radius:40px;
    float:center;
    margin-top:5px;
    padding-left:20px;
    padding-right: 20px;
}

.right{
    padding-left: 10px;
}