<div class = "image">

    <a href="/home" class = "order">Back</a>

    <div class="split left centered">
        <form (ngSubmit) = "onSubmit(registerForm)" #registerForm = "ngForm">
            <h2 class = "subtitle">Register</h2>
            <div class="input">
                <input type = "text" name="userFirstName"
                placeholder="First Name" required autofocus ngModel #username ="ngModel">
            </div>
            <div class="input">
                <input type = "text" name="userLastName"
                placeholder="Last Name" required autofocus ngModel #username ="ngModel">
            </div>
            <div class="input">
                <input type = "text" name="userDob"
                placeholder="Date of birth" required autofocus ngModel #username ="ngModel">
            </div>
            <div class="input">
                <input type = "text" name="emailAddress"
                placeholder="Email address" required autofocus ngModel #username ="ngModel">
            </div>
            <div class="input">
                <input type = "text" name="username"
                placeholder="Username" required autofocus ngModel #username ="ngModel">
            </div>
            <div class="input">
                <input type = "password" name="password"
                placeholder="Password" required autofocus ngModel #password ="ngModel">
            </div>
            <button class = "button b" [disabled] = "!registerForm.valid"
                type = "submit" >Create account
            </button>
        </form>
    </div>
</div>
