
  .image {
    background-color:lightblue;
    background-repeat: no-repeat;
    height: 980px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .left {
    width: 50%;
    height: 100%;
    margin-left: 15.33%;
  }

  .title{
    color:black;
    text-align: center;
  }

  .subtitle{
    color: black;
    margin-top: 15%;
  }

  .centered {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .input{
      margin-top: 5%;
  }

  .b{
    padding: 5px 10px;
    margin-top: 10px;
    color: black;
    background-color:darkcyan;
    border-radius: 4px;
    margin-bottom: 10px;
  }